﻿@model WebApp.Models.Aluno

@{
    ViewBag.Title = "Detalhes";
}

<div>
    <br />
    <h4>Aluno - Detalhes</h4>
    <hr />
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProfessorId)
        </dt>

        <dd id="Custom-Professor-Detalhes">
            @Html.DisplayFor(model => model.ProfessorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar a Lista", "Index")
</p>
