﻿@model dynamic

@{
    ViewBag.Title = "Maiores de 16 anos";
}

<h2>Maiores de 16 anos</h2>
<br />

<table class="table">
    <tr>
        <th>
            Professor
        </th>
        <th>
            Aluno
        </th>
        <th>
            Idade
        </th>
    </tr>
    @foreach (var item in Model.Alunos)
    {
        <tr>
            <td>
                @item.Professor
            </td>
            <td>
                @item.Aluno
            </td>
            <td>
                @item.Idade
            </td>
        </tr>
     }
</table>