﻿
#Custom-Professor-Cadastro, #Custom-Professor-Editar {
    display: none;
}

#Professores, #Professores-Editar {
    width: 100%;
    height: 35px;
    border-color: lightgray;
    border-radius: 5px;
}
