﻿@model WebApp.Models.Professor

@{
    ViewBag.Title = "Excluir";
}

<div>
    <br />
    <h4>Professor - excluir</h4>
    <h5>Realmente deseja excluir esse registro?</h5>
    <hr />    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar a Lista", "Index")
        </div>
    }
</div>
