﻿@model WebApp.Models.Professor

@{
    ViewBag.Title = "Details";
}

<div>
    <br />
    <h4>Professor - Detalhes</h4>
    <hr />
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar a Lista", "Index")
</p>
