﻿
@{
    ViewBag.Title = "ListarMediaDosALunos";
}

<h2>Professores por Media de idades entre 15 e 17 </h2>
<br />
<br />

<table class="table">
    <tr>
        <th>
            Professor
        </th>
        <th>
            Media
        </th>
    </tr>
    @foreach (var item in Model.Alunos)
    {
        <tr>
            <td>
                @item.Professor
            </td>
            <td>
                @item.MediaIdade
            </td>
        </tr>
    }
</table>

